

body {
    margin: 25px;
    background-color: darkorchid;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

h1 {
    font-size: 75px;
    font-weight: normal;
    text-shadow: 50em;
}