

body {
    margin: 50px;
    background-color: rgb(148, 12, 160);
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

h1 {
    font-size: 70px;
    font-weight: normal;
    text-shadow: 10em;
    background-color: chartreuse;
    color: royalblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-stretch: none;
    padding-left: 5px;
    padding-bottom: none;
}
